@import './common/var.scss';
@import './mixins/mixins.scss';

@include b(overlay) {
  position  : fixed;
  left      : 0;
  right     : 0;
  top       : 0;
  bottom    : 0;
  background: rgba(0, 0, 0, 0.5);
  z-index   : 2000;
  overflow  : auto;

  // Firefox
  // @supports (background: -moz-element(#app)) {
  //   &::before {
  //     content   : "";
  //     position  : absolute;
  //     top       : 0;
  //     left      : 0;
  //     right     : 0;
  //     bottom    : 0;
  //     background: -moz-element(#app) no-repeat;
  //     filter    : blur(3px);
  //     z-index   : 1000;
  //   }
  // }
}